/* this file purely exists to see the colour squares in vs code */

.colors {
	color: #80ed99; /* lightGreen */
	color: #57cc99; /* mediumAquamarine */
	color: #38a3a5; /* scooter */
	color: #22577a; /* bahamaBlue */

	/* quickly enter styles here */
}
